{% extends "productRegister/base.html" %}
{% load static %}
		<!-- header -->
        {% block body %}
        <footer>
			<div class="container">
				<p><a href="#">Home</a> | <a href="#work">Product registration</a> | <a href="#team">Delivered products</a> | <a href="#contact">Total list</a></p>
				<div class="social">
					{% comment %} <a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a> {% endcomment %}
				</div>
				<!-- copy right -->
				<!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
				<p class="copy-right">Copyright &copy; 2014 <a href="#">Your Site</a> | Designed By : <a href="http://www.indioweb.in/portfolio">IndioWeb</a>, All rights reserved. </p>
			</div>
		</footer>
        {% endblock body %}